openapi: 3.1.0
info:
  title: Konnect API (BETA)
  version: 2.0.0
  description: >
    This is a BETA specification. Endpoints in this specification may change
    with zero notice
  contact:
    name: Kong
    url: https://cloud.konghq.com
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
  - url: https://me.api.konghq.com
  - url: https://in.api.konghq.com
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
tags:
  - name: Portals
    description: APIs related to configuration of Konnect Developer Portals.
  - name: Portal Custom Domains
    description: APIs related to configuration of Konnect Developer Portals custom domains.
  - name: Portal Customization
    description: APIs related to customization of Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to configuration of Konnect Developer Portal auth settings.
  - name: Portal Teams
    description: APIs related to configuration of Konnect Developer Portal developer teams.
  - name: Pages
    description: APIs related to Konnect Developer Portal Custom Pages.
  - name: Snippets
    description: APIs related to Konnect Developer Portal Custom Snippets.
  - name: API
  - name: API Documentation
  - name: API Specification
  - name: API Publication
  - name: API Implementation
  - name: Mesh
  - name: authserver
    description: Auth server management API
paths:
  /v3/portals:
    post:
      x-speakeasy-entity-operation: Portal#create
      x-unstable: true
      summary: Create Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new developer portal scoped in this region for this
        organization.
      operationId: create-portal
      tags:
        - Portals
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/portals/{portalId}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: portalId
        in: path
        required: true
        description: ID of the portal.
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: Portal#read
      x-unstable: true
      summary: Fetch Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration for a single developer portal, including the
        current visibility, access, and domain settings.
      operationId: get-portal
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: Portal#update
      x-unstable: true
      summary: Update Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the configuration for a single portal including the visibility,
        access, and custom domain settings.
      operationId: update-portal
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      x-speakeasy-entity-operation: Portal#delete
      x-unstable: true
      summary: Delete Portal
      parameters:
        - name: force
          in: query
          description: >-
            If set to "true", the portal and all child entities will be deleted
            when running `terraform destroy`.

            If set to "false", the portal will not be deleted until all child
            entities are manually removed.

            This will IRREVERSIBLY DELETE ALL REGISTERED DEVELOPERS AND THEIR
            CREDENTIALS. Only set to "true" if you want this behavior.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          x-speakeasy-name-override: force_destroy
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single portal, along with all related entities.
      operationId: delete-portal
      tags:
        - Portals
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/custom-domain:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation: PortalCustomDomain#read
      x-unstable: true
      summary: Get Custom Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the custom domain associated to the portal.
      operationId: get-portal-custom-domain
      tags:
        - Portal Custom Domains
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-speakeasy-entity-operation: PortalCustomDomain#create
      x-unstable: true
      summary: Create Custom Domain
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates the custom domain associated with the portal. Only one custom
        domain can be associated with a portal at a time.
      operationId: create-portal-custom-domain
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalCustomDomain'
      tags:
        - Portal Custom Domains
      responses:
        '201':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalCustomDomain#update
      x-unstable: true
      summary: Enable or Disable Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the portal domain associated with the portal.
      operationId: update-portal-custom-domain
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalCustomDomain'
      tags:
        - Portal Custom Domains
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      x-speakeasy-entity-operation: PortalCustomDomain#delete
      x-unstable: true
      operationId: delete-portal-custom-domain
      summary: Remove Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes the custom domain associated with the portal.
      tags:
        - Portal Custom Domains
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/customization:
    get:
      x-speakeasy-entity-operation: PortalCustomization#read
      x-unstable: true
      summary: Get Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the portal customization options.
      operationId: get-portal-customization
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Customization
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-speakeasy-entity-operation: PortalCustomization#create,update
      x-unstable: true
      summary: Replace Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Replace the portal customization options.
      operationId: replace-portal-customization
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Customization
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/pages:
    post:
      x-speakeasy-entity-operation: PortalPage#create
      x-unstable: true
      summary: Create Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom page for this portal. Custom pages can be used to
        display static content, documentation, or other information to
        developers. Title and Description properties may be provided in the
        frontmatter section of `content`. If you set values in both the `POST`
        request _and_ in the frontmatter, the values in frontmatter will take
        precedence.
      operationId: create-portal-page
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalPage'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Pages
      responses:
        '201':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/pages/{pageId}:
    get:
      x-speakeasy-entity-operation: PortalPage#read
      x-unstable: true
      summary: Fetch Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom page for this portal.
        Custom pages can be used to display static content, documentation, or
        other information to developers.
      operationId: get-portal-page
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalPage#update
      x-unstable: true
      summary: Update Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom page for this portal.
      operationId: update-portal-page
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalPage'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-speakeasy-entity-operation: PortalPage#delete
      x-unstable: true
      summary: Delete Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom page for this portal.
      operationId: delete-portal-page
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/snippets:
    post:
      x-speakeasy-entity-operation: PortalSnippet#create
      x-unstable: true
      summary: Create Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom snippet for this portal. Custom snippets can be
        used to display static content, documentation, or other information to
        developers. Title and Description properties may be provided in the
        frontmatter section of `content`. If you set values in both the `POST`
        request _and_ in the frontmatter, the values in the frontmatter will
        take precedence.
      operationId: create-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalSnippet'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Snippets
      responses:
        '201':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/snippets/{snippetId}:
    get:
      x-speakeasy-entity-operation: PortalSnippet#read
      x-unstable: true
      summary: Fetch Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom snippet for this portal.
        Custom snippets can be used to display static content, documentation, or
        other information to developers.
      operationId: get-portal-snippet
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalSnippet#update
      x-unstable: true
      summary: Update Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom snippet for this portal.
      operationId: update-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalSnippet'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-speakeasy-entity-operation: PortalSnippet#delete
      x-unstable: true
      summary: Delete Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom snippet for this portal.
      operationId: delete-portal-snippet
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/portals/{portalId}/authentication-settings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-speakeasy-entity-operation: PortalAuth#read
      summary: Get Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the developer authentication configuration for a portal, which
        determines how developers can log in and how they are assigned to teams.
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      x-unstable: true
      x-speakeasy-entity-operation: PortalAuth#create,update
      summary: Update Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the developer authentication configuration for a portal.
        Developers can be allowed to login using basic auth (email & password)
        or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP).
        Developers can be automatically assigned to teams by mapping claims from
        thier IdP account.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/portals/{portalId}/teams:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    post:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#create
      summary: Create Team
      operationId: create-portal-team
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a developer team in a portal. Developers can be added to teams
        to provide RBAC access to API products. Teams can be assigned roles that
        grant permissions to perform an action on a resource.
  /v3/portals/{portalId}/teams/{teamId}:
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#read
      summary: Get Team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-portal-team
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an individual team.
      tags:
        - Portal Teams
    patch:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#update
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates an individual developer team for a portal.
      summary: Update Team
      operationId: update-portal-team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      tags:
        - Portal Teams
    delete:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#delete
      summary: Delete Team
      operationId: delete-portal-team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes a developer team from a portal. Deleting a team also deletes its
        assigned roles. Members of the team are not deleted, but they will lose
        any access provided through the team.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  /v3/apis:
    post:
      x-speakeasy-entity-operation: Api#create
      x-unstable: true
      summary: Create API
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates an API.
      operationId: create-api
      responses:
        '201':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
      requestBody:
        $ref: '#/components/requestBodies/CreateApiRequest'
  /v3/apis/{apiId}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name: apiId
        in: path
        required: true
        description: The UUID API identifier
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: Api#read
      x-unstable: true
      summary: Fetch API
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Fetches an API.
      operationId: fetch-api
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
    patch:
      x-speakeasy-entity-operation: Api#update
      x-unstable: true
      summary: Update API
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates an API.
      operationId: update-api
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiRequest'
    delete:
      x-speakeasy-entity-operation: Api#delete
      x-unstable: true
      summary: Delete API
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes an API.
      operationId: delete-api
      responses:
        '204':
          description: API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
  /v3/apis/{apiId}/documents:
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation: ApiDocument#create
      x-unstable: true
      summary: Create API Document
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Publish a new document attached to an API.


        All configuration options may be provided in the frontmatter section of
        `content`. If you set values in both the `POST` request _and_ in the
        frontmatter, the values in the `POST` request will take precedence.
      operationId: create-api-document
      responses:
        '201':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        $ref: '#/components/requestBodies/CreateApiDocumentRequest'
      tags:
        - API Documentation
  /v3/apis/{apiId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/DocumentId'
    get:
      x-speakeasy-entity-operation: ApiDocument#read
      x-unstable: true
      summary: Fetch API Document
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a document for the API.
      operationId: fetch-api-document
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
    patch:
      x-speakeasy-entity-operation: ApiDocument#update
      x-unstable: true
      summary: Update API Document
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates a document for an API.
      operationId: update-api-document
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Documentation
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiDocumentRequest'
    delete:
      x-speakeasy-entity-operation: ApiDocument#delete
      x-unstable: true
      summary: Delete API Documentation
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a document from an API.
      operationId: delete-api-document
      responses:
        '204':
          description: Document for the API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
  /v3/apis/{apiId}/specifications:
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation: ApiSpecification#create
      x-unstable: true
      deprecated: true
      summary: Create API Specification
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a specification (OpenAPI or AsyncAPI) for an API.

        **Note:** You can only have one specification for an API. This endpoint
        is deprecated and will be removed: use /versions instead.
      operationId: create-api-spec
      responses:
        '201':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Specification
      requestBody:
        $ref: '#/components/requestBodies/CreateApiSpecRequest'
  /v3/apis/{apiId}/specifications/{specId}:
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/SpecId'
    get:
      x-speakeasy-entity-operation: ApiSpecification#read
      x-unstable: true
      deprecated: true
      summary: Fetch API Specification
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Fetches the specification (OpenAPI or AsyncAPI) of an API. 

        **Note:** This endpoint is deprecated and will be removed: use /versions
        instead.
      operationId: fetch-api-spec
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Specification
    patch:
      x-speakeasy-entity-operation: ApiSpecification#update
      x-unstable: true
      deprecated: true
      summary: Update API Specification
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the specification (OpenAPI or AsyncAPI) of an API.

        **Note:** This endpoint is deprecated and will be removed: use /versions
        instead.
      operationId: update-api-spec
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Specification
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiSpecRequest'
    delete:
      x-speakeasy-entity-operation: ApiSpecification#delete
      x-unstable: true
      deprecated: true
      summary: Delete API Specification
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes the specification (OpenAPI or AsyncAPI) of an API.

        **Note:** This endpoint is deprecated and will be removed: use /versions
        instead.
      operationId: delete-api-spec
      responses:
        '204':
          description: API Specification was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Specification
  /v3/apis/{apiId}/versions:
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation: ApiVersion#create
      x-unstable: true
      summary: Create API Version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a version (OpenAPI or AsyncAPI) for an API.
      operationId: create-api-version
      responses:
        '201':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
      requestBody:
        $ref: '#/components/requestBodies/CreateApiVersionRequest'
  /v3/apis/{apiId}/versions/{specId}:
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/VersionId'
    get:
      x-speakeasy-entity-operation: ApiVersion#read
      x-unstable: true
      summary: Fetch API Version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Fetches the version (OpenAPI or AsyncAPI) of an API.
      operationId: fetch-api-version
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
    patch:
      x-speakeasy-entity-operation: ApiVersion#update
      x-unstable: true
      summary: Update API Version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the version (OpenAPI or AsyncAPI) of an API.
      operationId: update-api-version
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiVersionRequest'
    delete:
      x-speakeasy-entity-operation: ApiVersion#delete
      x-unstable: true
      summary: Delete API Version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes the version (OpenAPI or AsyncAPI) of an API.
      operationId: delete-api-version
      responses:
        '204':
          description: API Version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
  /v3/apis/{apiId}/publications/{portalId}:
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/PortalId'
    put:
      x-speakeasy-entity-operation: ApiPublication#create,update
      x-unstable: true
      summary: Publish API
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Publish an API to a portal.
      operationId: publish-api-to-portal
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '400':
          $ref: '#/components/responses/ApiPublicationBadRequest'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
      requestBody:
        $ref: '#/components/requestBodies/PutApiPublicationRequest'
    get:
      x-speakeasy-entity-operation: ApiPublication#read
      x-unstable: true
      summary: Fetch Publication
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Retrieve an API's publication in a portal.
        If the API is not published to the portal, a 404 response is returned.
      operationId: fetch-publication
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    delete:
      x-speakeasy-entity-operation: ApiPublication#delete
      x-unstable: true
      summary: Delete Publication
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Unpublish an API from a portal.
      operationId: delete-publication
      responses:
        '204':
          description: API was successfully unpublished from portal.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  /v3/apis/{apiId}/implementations:
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation: ApiImplementation#create
      x-unstable: true
      summary: Create API Implementation
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates an implementation for an API.
        An API can be implemented by a single Gateway Service.
      operationId: create-api-implementation
      responses:
        '201':
          $ref: '#/components/responses/ApiImplementationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiImplementationConflict'
      tags:
        - API Implementation
      requestBody:
        $ref: '#/components/requestBodies/CreateApiImplementationRequest'
  /v3/apis/{apiId}/implementations/{implementationId}:
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/ImplementationId'
    get:
      x-speakeasy-entity-operation: ApiImplementation#read
      x-unstable: true
      summary: Fetch API Implementation
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Retrieve a gateway implementation for this API
      operationId: fetch-api-implementation
      responses:
        '200':
          $ref: '#/components/responses/ApiImplementationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
    delete:
      x-speakeasy-entity-operation: ApiImplementation#delete
      x-unstable: true
      summary: Delete API Implementation
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Unlink a gateway implementation from this API
      operationId: delete-api-implementation
      responses:
        '204':
          description: API implementation was unlinked successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#create:
    get:
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshAccessLog#get
    delete:
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshAccessLog#delete
    put:
      operationId: createMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshAccessLog#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#update:
    put:
      operationId: updateMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshAccessLog#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs:
    get:
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      tags:
        - MeshAccessLog
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      x-speakeasy-entity-operation: MeshAccessLogList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#create:
    get:
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshCircuitBreaker#get
    delete:
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshCircuitBreaker#delete
    put:
      operationId: createMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshCircuitBreaker#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#update:
    put:
      operationId: updateMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshCircuitBreaker#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers:
    get:
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      x-speakeasy-entity-operation: MeshCircuitBreakerList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#create:
    get:
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshFaultInjection#get
    delete:
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshFaultInjection#delete
    put:
      operationId: createMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshFaultInjection#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#update:
    put:
      operationId: updateMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshFaultInjection#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections:
    get:
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      tags:
        - MeshFaultInjection
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      x-speakeasy-entity-operation: MeshFaultInjectionList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#create:
    get:
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHealthCheck#get
    delete:
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHealthCheck#delete
    put:
      operationId: createMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHealthCheck#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#update:
    put:
      operationId: updateMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHealthCheck#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks:
    get:
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      tags:
        - MeshHealthCheck
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      x-speakeasy-entity-operation: MeshHealthCheckList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#create:
    get:
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHTTPRoute#get
    delete:
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHTTPRoute#delete
    put:
      operationId: createMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHTTPRoute#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#update:
    put:
      operationId: updateMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHTTPRoute#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes:
    get:
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      tags:
        - MeshHTTPRoute
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      x-speakeasy-entity-operation: MeshHTTPRouteList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#create:
    get:
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#get
    delete:
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyDeleteSuccessResponse
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#delete
    put:
      operationId: createMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#update:
    put:
      operationId: updateMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies:
    get:
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategyList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#create:
    get:
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshMetric#get
    delete:
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshMetric#delete
    put:
      operationId: createMeshMetric
      summary: Creates or Updates MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshMetric#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#update:
    put:
      operationId: updateMeshMetric
      summary: Creates or Updates MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshMetric#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics:
    get:
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      tags:
        - MeshMetric
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      x-speakeasy-entity-operation: MeshMetricList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#create:
    get:
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshPassthrough#get
    delete:
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshPassthrough#delete
    put:
      operationId: createMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshPassthrough#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#update:
    put:
      operationId: updateMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshPassthrough#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs:
    get:
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      tags:
        - MeshPassthrough
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      x-speakeasy-entity-operation: MeshPassthroughList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#create:
    get:
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshProxyPatch#get
    delete:
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshProxyPatch#delete
    put:
      operationId: createMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshProxyPatch#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#update:
    put:
      operationId: updateMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshProxyPatch#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches:
    get:
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      tags:
        - MeshProxyPatch
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      x-speakeasy-entity-operation: MeshProxyPatchList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#create:
    get:
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRateLimit#get
    delete:
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRateLimit#delete
    put:
      operationId: createMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshRateLimit#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#update:
    put:
      operationId: updateMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshRateLimit#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits:
    get:
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      tags:
        - MeshRateLimit
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      x-speakeasy-entity-operation: MeshRateLimitList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#create:
    get:
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRetry#get
    delete:
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRetry#delete
    put:
      operationId: createMeshRetry
      summary: Creates or Updates MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshRetry#create
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#update:
    put:
      operationId: updateMeshRetry
      summary: Creates or Updates MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
[...]
