openapi: 3.1.0
info:
  title: Konnect API (BETA)
  version: 2.0.0
  description: |
    This is a BETA specification. Endpoints in this specification may change with zero notice
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
  - url: 'https://me.api.konghq.com'
  - url: 'https://in.api.konghq.com'
paths:
  /v3/portals:
    get:
      x-speakeasy-entity-operation:
        terraform-resource: null
        terraform-datasource:
          - Portal#read
      operationId: list-portals
      summary: List Portals
      description: 'Lists developer portals defined in this region for this organization. Each developer portal is available at a unique address and has isolated configuration, customization, developers, and applications.'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
        - name: filter
          in: query
          description: Filter portals returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/PortalFilterParameters'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
    post:
      x-speakeasy-entity-operation:
        terraform-resource: Portal#create
        terraform-datasource: null
      operationId: create-portal
      summary: Create Portal
      description: Creates a new developer portal scoped in this region for this organization.
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
  '/v3/portals/{portalId}':
    parameters:
      - name: portalId
        in: path
        description: ID of the portal.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: Portal#read
        terraform-datasource: null
      operationId: get-portal
      summary: Get a Portal
      description: 'Returns the configuration for a single developer portal, including the current visibility, access, and domain settings.'
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: Portal#update
        terraform-datasource: null
      operationId: update-portal
      summary: Update Portal
      description: 'Updates the configuration for a single portal including the visibility, access, and custom domain settings.'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portals
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: Portal#delete
        terraform-datasource: null
      operationId: delete-portal
      summary: Delete Portal
      description: 'Deletes a single portal, along with all related entities.'
      parameters:
        - name: force
          in: query
          description: |
            If set to "true", the portal and all child entities will be deleted when running `terraform destroy`.
            If set to "false", the portal will not be deleted until all child entities are manually removed.
            This will IRREVERSIBLY DELETE ALL REGISTERED DEVELOPERS AND THEIR CREDENTIALS. Only set to "true" if you want this behavior.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          x-speakeasy-name-override: force_destroy
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
  '/v3/portals/{portalId}/custom-domain':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalCustomDomain#read
        terraform-datasource: null
      operationId: get-portal-custom-domain
      summary: Get Custom Domain
      description: Get the custom domain associated to the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
    post:
      x-speakeasy-entity-operation:
        terraform-resource: PortalCustomDomain#create
        terraform-datasource: null
      operationId: create-portal-custom-domain
      summary: Create Custom Domain
      description: Creates the custom domain associated with the portal. Only one custom domain can be associated with a portal at a time.
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalCustomDomain'
      responses:
        '201':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: PortalCustomDomain#update
        terraform-datasource: null
      operationId: update-portal-custom-domain
      summary: Enable or Disable Domain
      description: Updates the portal domain associated with the portal.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalCustomDomain'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Custom Domains
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: PortalCustomDomain#delete
        terraform-datasource: null
      operationId: delete-portal-custom-domain
      summary: Remove Domain
      description: Deletes the custom domain associated with the portal.
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
  '/v3/portals/{portalId}/assets/logo':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalLogo#read
        terraform-datasource: null
      operationId: get-portal-asset-logo
      summary: Get Logo
      description: Returns the logo of the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'PortalLogo#create,update'
        terraform-datasource: null
      operationId: replace-portal-asset-logo
      summary: Replace Logo
      description: Replaces the logo of the portal.
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
  '/v3/portals/{portalId}/assets/favicon':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalFavicon#read
        terraform-datasource: null
      operationId: get-portal-asset-favicon
      summary: Get Favicon
      description: Returns the favicon of the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'PortalFavicon#create,update'
        terraform-datasource: null
      operationId: replace-portal-asset-favicon
      summary: Replace Favicon
      description: Replaces the favicon of the portal. The favicon is used in the browser tab of the portal.
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
  '/v3/portals/{portalId}/customization':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalCustomization#read
        terraform-datasource: null
      operationId: get-portal-customization
      summary: Get Customization
      description: Returns the portal customization options.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Customization
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'PortalCustomization#create,update'
        terraform-datasource: null
      operationId: replace-portal-customization
      summary: Replace Customization
      description: Replace the portal customization options.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Customization
  '/v3/portals/{portalId}/pages':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: PortalPage#create
        terraform-datasource: null
      operationId: create-portal-page
      summary: Create Page
      description: 'Creates a new custom page for this portal. Custom pages can be used to display static content, documentation, or other information to developers. Title and Description properties may be provided in the frontmatter section of `content`. If you set values in both the `POST` request _and_ in the frontmatter, the values in frontmatter will take precedence.'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalPage'
      responses:
        '201':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
  '/v3/portals/{portalId}/pages/{pageId}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalPage#read
        terraform-datasource: null
      operationId: get-portal-page
      summary: Get a Page
      description: 'Returns the configuration of a single custom page for this portal. Custom pages can be used to display static content, documentation, or other information to developers.'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: PortalPage#update
        terraform-datasource: null
      operationId: update-portal-page
      summary: Update Page
      description: Updates the configuration of a single custom page for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalPage'
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: PortalPage#delete
        terraform-datasource: null
      operationId: delete-portal-page
      summary: Delete Page
      description: Deletes a single custom page for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
  '/v3/portals/{portalId}/snippets':
    post:
      x-speakeasy-entity-operation:
        terraform-resource: PortalSnippet#create
        terraform-datasource: null
      operationId: create-portal-snippet
      summary: Create Snippet
      description: 'Creates a new custom snippet for this portal. Custom snippets can be used to display static content, documentation, or other information to developers. Title and Description properties may be provided in the frontmatter section of `content`. If you set values in both the `POST` request _and_ in the frontmatter, the values in the frontmatter will take precedence.'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalSnippet'
      responses:
        '201':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
  '/v3/portals/{portalId}/snippets/{snippetId}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalSnippet#read
        terraform-datasource: null
      operationId: get-portal-snippet
      summary: Get a Snippet
      description: 'Returns the configuration of a single custom snippet for this portal. Custom snippets can be used to display static content, documentation, or other information to developers.'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: PortalSnippet#update
        terraform-datasource: null
      operationId: update-portal-snippet
      summary: Update Snippet
      description: Updates the configuration of a single custom snippet for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalSnippet'
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: PortalSnippet#delete
        terraform-datasource: null
      operationId: delete-portal-snippet
      summary: Delete Snippet
      description: Deletes a single custom snippet for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
  '/v3/portals/{portalId}/authentication-settings':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-speakeasy-entity-operation:
        terraform-resource: PortalAuth#read
        terraform-datasource: null
      operationId: get-portal-authentication-settings
      summary: Get Auth Settings
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the developer authentication configuration for a portal, which determines how developers can log in and how they are assigned to teams.
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Portal Auth Settings
    patch:
      x-unstable: true
      x-speakeasy-entity-operation:
        terraform-resource: 'PortalAuth#create,update'
        terraform-datasource: null
      operationId: update-portal-authentication-settings
      summary: Update Auth Settings
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the developer authentication configuration for a portal. Developers can be allowed to login using basic auth (email & password) or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP). Developers can be automatically assigned to teams by mapping claims from thier IdP account.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/v3/portals/{portalId}/teams':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: PortalTeam#create
        terraform-datasource: null
      operationId: create-portal-team
      summary: Create Team
      description: Creates a developer team in a portal. Developers can be added to teams to provide RBAC access to API products. Teams can be assigned roles that grant permissions to perform an action on a resource.
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  '/v3/portals/{portalId}/teams/{teamId}':
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: PortalTeam#read
        terraform-datasource: null
      operationId: get-portal-team
      summary: Get Team
      description: Get an individual team.
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: PortalTeam#update
        terraform-datasource: null
      operationId: update-portal-team
      summary: Update Team
      description: Updates an individual developer team for a portal.
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: PortalTeam#delete
        terraform-datasource: null
      operationId: delete-portal-team
      summary: Delete Team
      description: 'Deletes a developer team from a portal. Deleting a team also deletes its assigned roles. Members of the team are not deleted, but they will lose any access provided through the team.'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  /v3/apis:
    post:
      x-speakeasy-entity-operation:
        terraform-resource: Api#create
        terraform-datasource: null
      operationId: create-api
      summary: Create API
      description: Creates an API.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
  '/v3/apis/{apiId}':
    parameters:
      - name: apiId
        in: path
        description: The UUID API identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: Api#read
        terraform-datasource: null
      operationId: fetch-api
      summary: Get an API
      description: Get an API.
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: Api#update
        terraform-datasource: null
      operationId: update-api
      summary: Update API
      description: Updates an API.
      parameters:
        - name: force
          in: query
          description: |
            If true, allows operations to be removed from the current version when using access control enforcement.
            If false, operations removal will be rejected with a 409 error.
            Omitting the value means true.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          x-internal: true
          x-unstable: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiVersionPatchConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: Api#delete
        terraform-datasource: null
      operationId: delete-api
      summary: Delete API
      description: Deletes an API.
      responses:
        '204':
          description: API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
  '/v3/apis/{apiId}/documents':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: ApiDocument#create
        terraform-datasource: null
      operationId: create-api-document
      summary: Create API Document
      description: |
        Publish a new document attached to an API.

        All configuration options may be provided in the frontmatter section of `content`. If you set values in both the `POST` request _and_ in the frontmatter, the values in the `POST` request will take precedence.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Documentation
  '/v3/apis/{apiId}/documents/{documentId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/DocumentId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiDocument#read
        terraform-datasource: null
      operationId: fetch-api-document
      summary: Get an API Document
      description: Returns a document for the API.
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: ApiDocument#update
        terraform-datasource: null
      operationId: update-api-document
      summary: Update API Document
      description: Updates a document for an API.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Documentation
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiDocument#delete
        terraform-datasource: null
      operationId: delete-api-document
      summary: Delete API Documentation
      description: Removes a document from an API.
      responses:
        '204':
          description: Document for the API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
  '/v3/apis/{apiId}/specifications':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: ApiSpecification#create
        terraform-datasource: null
      operationId: create-api-spec
      summary: Create API Specification
      description: |
        Creates a specification (OpenAPI or AsyncAPI) for an API.
        **Note:** You can only have one specification for an API. This endpoint is deprecated and will be removed: use /versions instead.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      deprecated: true
      tags:
        - API Specification
  '/v3/apis/{apiId}/specifications/{specId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/SpecId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiSpecification#read
        terraform-datasource: null
      operationId: fetch-api-spec
      summary: Get API Specification
      description: |
        Fetches the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      deprecated: true
      tags:
        - API Specification
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: ApiSpecification#update
        terraform-datasource: null
      operationId: update-api-spec
      summary: Update API Specification
      description: |
        Updates the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      deprecated: true
      tags:
        - API Specification
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiSpecification#delete
        terraform-datasource: null
      operationId: delete-api-spec
      summary: Delete API Specification
      description: |
        Deletes the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      responses:
        '204':
          description: API Specification was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      deprecated: true
      tags:
        - API Specification
  '/v3/apis/{apiId}/versions':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: ApiVersion#create
        terraform-datasource: null
      operationId: create-api-version
      summary: Create API Version
      description: |
        Creates a version (OpenAPI or AsyncAPI) for an API.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiVersionRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
  '/v3/apis/{apiId}/versions/{versionId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/VersionId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiVersion#read
        terraform-datasource: null
      operationId: fetch-api-version
      summary: Get an API Version
      description: Fetches the version (OpenAPI or AsyncAPI) of an API.
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: ApiVersion#update
        terraform-datasource: null
      operationId: update-api-version
      summary: Update API Version
      description: Updates the version (OpenAPI or AsyncAPI) of an API.
      parameters:
        - name: force
          in: query
          description: |
            If true, allows operations to be removed from the current version when using access control enforcement.
            If false, operations removal will be rejected with a 409 error.
            Omitting the value (i.e., setting `?force`) means true.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          x-internal: true
          x-unstable: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiVersionRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiVersionPatchConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiVersion#delete
        terraform-datasource: null
      operationId: delete-api-version
      summary: Delete API Version
      description: Deletes the version (OpenAPI or AsyncAPI) of an API.
      responses:
        '204':
          description: API Version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
  '/v3/apis/{apiId}/publications/{portalId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/PortalId'
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'ApiPublication#create,update'
        terraform-datasource: null
      operationId: publish-api-to-portal
      summary: Publish API
      description: |
        Publish an API to a portal.
      requestBody:
        $ref: '#/components/requestBodies/PutApiPublicationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '400':
          $ref: '#/components/responses/ApiPublicationBadRequest'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiPublication#read
        terraform-datasource: null
      operationId: fetch-publication
      summary: Get a Publication
      description: |
        Retrieve an API's publication in a portal.
        If the API is not published to the portal, a 404 response is returned.
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiPublication#delete
        terraform-datasource: null
      operationId: delete-publication
      summary: Delete Publication
      description: Unpublish an API from a portal.
      responses:
        '204':
          description: API was successfully unpublished from portal.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  '/v3/apis/{apiId}/implementations':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#create
        terraform-datasource: null
      operationId: create-api-implementation
      summary: Create API Implementation
      description: |
        Creates an implementation for an API.
        An API can be implemented by a single Gateway Service.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiImplementationRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiImplementationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiImplementationConflict'
      tags:
        - API Implementation
  '/v3/apis/{apiId}/implementations/{implementationId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/ImplementationId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#read
        terraform-datasource: null
      operationId: fetch-api-implementation
      summary: Get an API Implementation
      description: Retrieve a gateway implementation for this API
      responses:
        '200':
          $ref: '#/components/responses/ApiImplementationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#delete
        terraform-datasource: null
      operationId: delete-api-implementation
      summary: Delete API Implementation
      description: Unlink a gateway implementation from this API
      responses:
        '204':
          description: API implementation was unlinked successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#get
        terraform-datasource: null
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshAccessLog#create,update'
        terraform-datasource: null
      operationId: putMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#delete
        terraform-datasource: null
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLogList#get
        terraform-datasource: null
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#get
        terraform-datasource: null
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshCircuitBreaker#create,update'
        terraform-datasource: null
      operationId: putMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#delete
        terraform-datasource: null
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreakerList#get
        terraform-datasource: null
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#get
        terraform-datasource: null
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshFaultInjection#create,update'
        terraform-datasource: null
      operationId: putMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#delete
        terraform-datasource: null
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjectionList#get
        terraform-datasource: null
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#get
        terraform-datasource: null
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshHealthCheck#create,update'
        terraform-datasource: null
      operationId: putMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#delete
        terraform-datasource: null
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheckList#get
        terraform-datasource: null
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#get
        terraform-datasource: null
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshHTTPRoute#create,update'
        terraform-datasource: null
      operationId: putMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRouteList#get
        terraform-datasource: null
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#get
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshLoadBalancingStrategy#create,update'
        terraform-datasource: null
      operationId: putMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#delete
        terraform-datasource: null
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategyList#get
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#get
        terraform-datasource: null
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshMetric#create,update'
        terraform-datasource: null
      operationId: putMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#delete
        terraform-datasource: null
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetricList#get
        terraform-datasource: null
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#get
        terraform-datasource: null
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshPassthrough#create,update'
        terraform-datasource: null
      operationId: putMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#delete
        terraform-datasource: null
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthroughList#get
        terraform-datasource: null
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#get
        terraform-datasource: null
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshProxyPatch#create,update'
        terraform-datasource: null
      operationId: putMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#delete
        terraform-datasource: null
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatchList#get
        terraform-datasource: null
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#get
        terraform-datasource: null
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshRateLimit#create,update'
        terraform-datasource: null
      operationId: putMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#delete
        terraform-datasource: null
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimitList#get
        terraform-datasource: null
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#get
        terraform-datasource: null
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshRetry#create,update'
        terraform-datasource: null
      operationId: putMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#delete
        terraform-datasource: null
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetryList#get
        terraform-datasource: null
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#get
        terraform-datasource: null
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTCPRoute#create,update'
        terraform-datasource: null
      operationId: putMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRouteList#get
        terraform-datasource: null
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#get
        terraform-datasource: null
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTimeout#create,update'
        terraform-datasource: null
      operationId: putMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#delete
        terraform-datasource: null
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeoutList#get
        terraform-datasource: null
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
[...]
