openapi: 3.1.0
info:
  title: Konnect API (BETA)
  version: 2.0.0
  description: >
    This is a BETA specification. Endpoints in this specification may change
    with zero notice
  contact:
    name: Kong
    url: https://cloud.konghq.com
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
  - url: https://me.api.konghq.com
  - url: https://in.api.konghq.com
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
  - clientToken: []
tags:
  - name: Roles
  - name: Team Membership
  - name: Teams
  - name: System Accounts
  - name: System Accounts - Access Tokens
  - name: System Accounts - Roles
  - name: System Accounts - Team Membership
  - name: Mesh
paths:
  /v3/teams:
    parameters: []
    post:
      x-speakeasy-entity-operation: Team#create
      summary: Create Team
      operationId: create-team
      responses:
        '201':
          $ref: '#/components/responses/TeamSingle'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
      tags:
        - Teams
      requestBody:
        $ref: '#/components/requestBodies/CreateTeam'
      description: 'Creates a team in the Konnect Organization. '
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/users:
    parameters:
      - schema:
          type: string
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
        name: teamId
        in: path
        required: true
        description: ID of the team.
    post:
      x-speakeasy-entity-operation: TeamUser#create
      summary: Add User
      operationId: add-user-to-team
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: Adds a user to a team.
      requestBody:
        $ref: '#/components/requestBodies/AddUserToTeam'
      tags:
        - Team Membership
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: teamId
        in: path
        required: true
        description: The team ID
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: Team#read
      summary: Fetch Team
      responses:
        '200':
          $ref: '#/components/responses/TeamSingle'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      operationId: get-team
      description: Returns information about a team from a given team ID.
      tags:
        - Teams
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    patch:
      x-speakeasy-entity-operation: Team#update
      summary: Update Team
      operationId: update-team
      responses:
        '200':
          $ref: '#/components/responses/TeamSingle'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: Updates an individual team.
      requestBody:
        $ref: '#/components/requestBodies/UpdateTeam'
      tags:
        - Teams
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    delete:
      x-speakeasy-entity-operation: Team#delete
      summary: Delete Team
      operationId: delete-team
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: Deletes an individual team. Returns 404 if the team is not found.
      tags:
        - Teams
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/users/{userId}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: userId
        in: path
        required: true
        description: User ID
      - schema:
          type: string
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
        name: teamId
        in: path
        required: true
        description: Team ID.
    delete:
      x-speakeasy-entity-operation: TeamUser#delete
      summary: Remove User
      operationId: remove-user-from-team
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: >-
        Removes a user from a team.

        If the user was removed, returns a 204 empty response. Returns 404 if
        the user or team were not found.
      tags:
        - Team Membership
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/assigned-roles:
    parameters:
      - schema:
          type: string
          format: uuid
          example: e81bc3e5-e9db-4764-b7dd-e81e39072cbe
        name: teamId
        in: path
        required: true
        description: The team ID
    post:
      x-speakeasy-entity-operation: TeamRole#create
      summary: Assign Team Role
      operationId: teams-assign-role
      responses:
        '201':
          $ref: '#/components/responses/AssignedRoleSingle'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: Assigns a role to a team. Returns 409 if role is already assigned.
      requestBody:
        $ref: '#/components/requestBodies/AssignRole'
      tags:
        - Roles
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/assigned-roles/{roleId}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: e81bc3e5-e9db-4764-b7dd-e81e39072cbe
        name: teamId
        in: path
        required: true
        description: The team ID.
      - schema:
          type: string
          example: 8350205f-a305-4e39-abe9-bc082a80091a
          format: uuid
        name: roleId
        in: path
        required: true
        description: The role ID.
        x-speakeasy-match: id
    delete:
      x-speakeasy-entity-operation: TeamRole#delete
      summary: Remove Team Role
      operationId: teams-remove-role
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Roles
      description: >-
        Removes an assigned role from a team. Returns 404 if the requested team
        or assigned role were not found.
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts:
    post:
      x-speakeasy-entity-operation: SystemAccount#create
      summary: Create System Account
      operationId: post-system-accounts
      tags:
        - System Accounts
      description: >-
        Creates a system account. Returns a 409 if a system account with the
        same name already exists.
      requestBody:
        $ref: '#/components/requestBodies/CreateSystemAccount'
      responses:
        '201':
          $ref: '#/components/responses/SystemAccountSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts/{accountId}:
    get:
      x-speakeasy-entity-operation: SystemAccount#read
      summary: Fetch System Account
      tags:
        - System Accounts
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      operationId: get-system-accounts-id
      description: >-
        Returns the system account (SA) for the SA ID specified as a path
        parameter.
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
        x-speakeasy-match: id
    patch:
      x-speakeasy-entity-operation: SystemAccount#update
      summary: Update System Account
      operationId: patch-system-accounts-id
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: >-
        Updates the specified system account. Returns a 409 if the updated name
        is the same as another system account in the organization.
      tags:
        - System Accounts
      requestBody:
        $ref: '#/components/requestBodies/UpdateSystemAccount'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    delete:
      x-speakeasy-entity-operation: SystemAccount#delete
      summary: Delete System Account
      operationId: delete-system-accounts-id
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: >-
        Deletes the specified system account. Returns 404 if the requested
        account was not found.
      tags:
        - System Accounts
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts/{accountId}/access-tokens:
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
    post:
      x-speakeasy-entity-operation: SystemAccountAccessToken#create
      summary: Create System Account Access Token
      operationId: post-system-accounts-id-access-tokens
      responses:
        '201':
          $ref: '#/components/responses/SystemAccountAccessTokenCreated'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: >-
        Creates an access token for the specified system account (SA). The
        access token can be used for authenticating API and CLI requests. The
        token will only be displayed once on creation. Returns a 409 if the
        system account already has a token with the same name.
      requestBody:
        $ref: '#/components/requestBodies/CreateSystemAccountAccessToken'
      tags:
        - System Accounts - Access Tokens
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts/{accountId}/access-tokens/{tokenId}:
    get:
      x-speakeasy-entity-operation: SystemAccountAccessToken#read
      summary: Fetch System Account Access Token
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountAccessTokenSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      operationId: get-system-accounts-id-access-tokens-id
      description: >-
        Returns the system account (SA) access token for the SA Access Token ID
        specified as a path parameter.
      parameters: []
      tags:
        - System Accounts - Access Tokens
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
      - schema:
          type: string
        name: tokenId
        in: path
        required: true
        description: ID of the system account access token.
        x-speakeasy-match: id
    patch:
      x-speakeasy-entity-operation: SystemAccountAccessToken#update
      summary: Update System Account Access Token
      operationId: patch-system-accounts-id-access-tokens-id
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountAccessTokenSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: >-
        Updates the specified access token. Returns a 409 if the updated name is
        the same as another token belonging to the specified system user.
      requestBody:
        $ref: '#/components/requestBodies/UpdateSystemAccountAccessToken'
      tags:
        - System Accounts - Access Tokens
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    delete:
      x-speakeasy-entity-operation: SystemAccountAccessToken#delete
      summary: Delete System Account Access Token
      operationId: delete-system-accounts-id-access-tokens-id
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: Deletes the specified token. Returns 404 if the token was not found.
      tags:
        - System Accounts - Access Tokens
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts/{accountId}/assigned-roles:
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
    post:
      x-speakeasy-entity-operation: SystemAccountRole#create
      summary: Create Assigned Role for System Account
      operationId: post-system-accounts-accountId-assigned-roles
      responses:
        '201':
          $ref: '#/components/responses/AssignedRoleSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: >-
        Assigns a role to a system account. Returns 409 if role is already
        assigned.
      requestBody:
        $ref: '#/components/requestBodies/AssignRole'
      tags:
        - System Accounts - Roles
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/system-accounts/{accountId}/assigned-roles/{roleId}:
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
      - schema:
          type: string
        name: roleId
        in: path
        required: true
        description: ID of the role.
        x-speakeasy-match: id
    delete:
      x-speakeasy-entity-operation: SystemAccountRole#delete
      summary: Delete Assigned Role from System Account
      operationId: delete-system-accounts-accountId-assigned-roles-roleId
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: >-
        Removes an assigned role from a system account. Returns 404 if the
        system account or assigned role were not found.
      tags:
        - System Accounts - Roles
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/system-accounts:
    parameters:
      - schema:
          type: string
        name: teamId
        in: path
        required: true
        description: ID of the team.
    post:
      x-speakeasy-entity-operation: SystemAccountTeam#create
      summary: Add System Account to a Team
      operationId: post-teams-teamId-system-accounts
      responses:
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      description: >-
        Adds a system account to a team. Returns a 409 if the system account is
        already a member of the team.
      requestBody:
        $ref: '#/components/requestBodies/AddSystemAccountToTeam'
      tags:
        - System Accounts - Team Membership
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/system-accounts/{accountId}:
    parameters:
      - schema:
          type: string
        name: teamId
        in: path
        required: true
        description: ID of the team.
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: ID of the system account.
    delete:
      x-speakeasy-entity-operation: SystemAccountTeam#delete
      summary: Remove System Account From Team
      operationId: delete-teams-teamId-system-accounts-accountId
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      description: >-
        Removes a system account from a team. Returns 404 if the team or system
        account were not found.
      tags:
        - System Accounts - Team Membership
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#create:
    get:
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshAccessLog#get
    delete:
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshAccessLog#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshAccessLog#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#update:
    put:
      operationId: updateMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      tags:
        - MeshAccessLog
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshAccessLog
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshAccessLog#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs:
    get:
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      tags:
        - MeshAccessLog
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      x-speakeasy-entity-operation: MeshAccessLogList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#create:
    get:
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshCircuitBreaker#get
    delete:
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshCircuitBreaker#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshCircuitBreaker#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#update:
    put:
      operationId: updateMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshCircuitBreaker
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshCircuitBreaker#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers:
    get:
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      tags:
        - MeshCircuitBreaker
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      x-speakeasy-entity-operation: MeshCircuitBreakerList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#create:
    get:
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshFaultInjection#get
    delete:
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshFaultInjection#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshFaultInjection#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#update:
    put:
      operationId: updateMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      tags:
        - MeshFaultInjection
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshFaultInjection
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshFaultInjection#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections:
    get:
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      tags:
        - MeshFaultInjection
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      x-speakeasy-entity-operation: MeshFaultInjectionList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#create:
    get:
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHealthCheck#get
    delete:
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHealthCheck#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHealthCheck#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#update:
    put:
      operationId: updateMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      tags:
        - MeshHealthCheck
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHealthCheck
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHealthCheck#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks:
    get:
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      tags:
        - MeshHealthCheck
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      x-speakeasy-entity-operation: MeshHealthCheckList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#create:
    get:
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHTTPRoute#get
    delete:
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshHTTPRoute#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHTTPRoute#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#update:
    put:
      operationId: updateMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      tags:
        - MeshHTTPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshHTTPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshHTTPRoute#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes:
    get:
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      tags:
        - MeshHTTPRoute
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      x-speakeasy-entity-operation: MeshHTTPRouteList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#create:
    get:
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#get
    delete:
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyDeleteSuccessResponse
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#update:
    put:
      operationId: updateMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshLoadBalancingStrategy
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies:
    get:
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      tags:
        - MeshLoadBalancingStrategy
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      x-speakeasy-entity-operation: MeshLoadBalancingStrategyList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#create:
    get:
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshMetric#get
    delete:
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshMetric#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshMetric
      summary: Creates or Updates MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshMetric#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#update:
    put:
      operationId: updateMeshMetric
      summary: Creates or Updates MeshMetric entity
      tags:
        - MeshMetric
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshMetric
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshMetric#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics:
    get:
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      tags:
        - MeshMetric
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      x-speakeasy-entity-operation: MeshMetricList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#create:
    get:
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshPassthrough#get
    delete:
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshPassthrough#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshPassthrough#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#update:
    put:
      operationId: updateMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      tags:
        - MeshPassthrough
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshPassthrough
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshPassthrough#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs:
    get:
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      tags:
        - MeshPassthrough
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      x-speakeasy-entity-operation: MeshPassthroughList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#create:
    get:
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshProxyPatch#get
    delete:
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshProxyPatch#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshProxyPatch#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#update:
    put:
      operationId: updateMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      tags:
        - MeshProxyPatch
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshProxyPatch
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshProxyPatch#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches:
    get:
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      tags:
        - MeshProxyPatch
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      x-speakeasy-entity-operation: MeshProxyPatchList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#create:
    get:
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRateLimit#get
    delete:
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRateLimit#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshRateLimit#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#update:
    put:
      operationId: updateMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      tags:
        - MeshRateLimit
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRateLimit
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshRateLimit#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits:
    get:
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      tags:
        - MeshRateLimit
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      x-speakeasy-entity-operation: MeshRateLimitList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#create:
    get:
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRetry#get
    delete:
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshRetry#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshRetry
      summary: Creates or Updates MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshRetry#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#update:
    put:
      operationId: updateMeshRetry
      summary: Creates or Updates MeshRetry entity
      tags:
        - MeshRetry
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshRetry
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshRetry#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries:
    get:
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      tags:
        - MeshRetry
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      x-speakeasy-entity-operation: MeshRetryList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#create:
    get:
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      tags:
        - MeshTCPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTCPRoute
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTCPRoute#get
    delete:
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      tags:
        - MeshTCPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTCPRoute
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTCPRoute#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      tags:
        - MeshTCPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTCPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTCPRoute#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#update:
    put:
      operationId: updateMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      tags:
        - MeshTCPRoute
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTCPRoute
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTCPRoute#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes:
    get:
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      tags:
        - MeshTCPRoute
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      x-speakeasy-entity-operation: MeshTCPRouteList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#create:
    get:
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      tags:
        - MeshTimeout
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTimeout
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTimeout#get
    delete:
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      tags:
        - MeshTimeout
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTimeout
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTimeout#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      tags:
        - MeshTimeout
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTimeout
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTimeout#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#update:
    put:
      operationId: updateMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      tags:
        - MeshTimeout
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTimeout
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTimeout#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts:
    get:
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      tags:
        - MeshTimeout
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      x-speakeasy-entity-operation: MeshTimeoutList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#create:
    get:
      operationId: getMeshTLS
      summary: Returns MeshTLS entity
      tags:
        - MeshTLS
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTLS
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTLS#get
    delete:
      operationId: deleteMeshTLS
      summary: Deletes MeshTLS entity
      tags:
        - MeshTLS
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTLS
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTLS#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTLS
      summary: Creates or Updates MeshTLS entity
      tags:
        - MeshTLS
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTLS
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTLS#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#update:
    put:
      operationId: updateMeshTLS
      summary: Creates or Updates MeshTLS entity
      tags:
        - MeshTLS
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTLS
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTLS#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses:
    get:
      operationId: getMeshTLSList
      summary: Returns a list of MeshTLS in the mesh.
      tags:
        - MeshTLS
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSList'
      x-speakeasy-entity-operation: MeshTLSList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#create:
    get:
      operationId: getMeshTrace
      summary: Returns MeshTrace entity
      tags:
        - MeshTrace
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrace
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTrace#get
    delete:
      operationId: deleteMeshTrace
      summary: Deletes MeshTrace entity
      tags:
        - MeshTrace
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrace
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceDeleteSuccessResponse'
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTrace#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTrace
      summary: Creates or Updates MeshTrace entity
      tags:
        - MeshTrace
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrace
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTrace#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#update:
    put:
      operationId: updateMeshTrace
      summary: Creates or Updates MeshTrace entity
      tags:
        - MeshTrace
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrace
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      x-speakeasy-entity-operation: MeshTrace#update
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces:
    get:
      operationId: getMeshTraceList
      summary: Returns a list of MeshTrace in the mesh.
      tags:
        - MeshTrace
      parameters:
        - in: query
          name: offset
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - in: query
          name: size
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - in: query
          name: filter
          description: filter by labels when multiple filters are present, they are ANDed
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceList'
      x-speakeasy-entity-operation: MeshTraceList#get
    parameters:
      - $ref: '#/components/parameters/cpId'
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}#create:
    get:
      operationId: getMeshTrafficPermission
      summary: Returns MeshTrafficPermission entity
      tags:
        - MeshTrafficPermission
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrafficPermission
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTrafficPermission#get
    delete:
      operationId: deleteMeshTrafficPermission
      summary: Deletes MeshTrafficPermission entity
      tags:
        - MeshTrafficPermission
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrafficPermission
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshTrafficPermissionDeleteSuccessResponse
          description: Successful response
        '404':
          $ref: '#/components/responses/NotFound'
      x-speakeasy-entity-operation: MeshTrafficPermission#delete
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      tags:
        - MeshTrafficPermission
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrafficPermission
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshTrafficPermissionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshTrafficPermission#create
  /v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}#update:
    put:
      operationId: updateMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      tags:
        - MeshTrafficPermission
      parameters:
        - in: path
          name: mesh
          schema:
            type: string
          required: true
          description: name of the mesh
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: name of the MeshTrafficPermission
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MeshTrafficPermissionCreateOrUpdateSuccessResponse
      x-speakeasy-entity-operation: MeshTrafficPermission#update
    parameters:
      - $ref: '#/components/parameters/cpId'
[...]
